#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family:sans-serif;
  background-color: rgb(20, 20, 20);
  margin: 0;
  color: goldenrod;
}

#banner {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  -webkit-text-stroke: 1px goldenrod;
  text-align: center;
  box-shadow: 0px 2px 5px goldenrod;
  overflow: hidden;
}

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://hips.hearstapps.com/roadandtrack/assets/17/13/1490615777-bugatti.gif") center/cover no-repeat;
  opacity: 0.3; 
  z-index: -1;
}

#dropDown {
  width: 120px;
  height: 25px;
  background-color: rgb(32, 32, 32);
  color: goldenrod;
  margin-top: 20px;
}

#cardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#brandName {
  color: black;
  -webkit-text-stroke: 1px goldenrod;
  font-size: 40px;
}

#vehicleCard {
  width: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  background-color: rgb(43, 43, 43);
  color: goldenrod;
  text-decoration: none;
}

#vehicleCard:hover {
  transition: 300ms;
  box-shadow: 0px 0px 10px goldenrod;
}

#backButton {
  background: black;
  color: goldenrod;
  font-size: 15px;
  padding: 5px;
  border-radius: 50px;
  margin: 50px;
  width: 100px;
  border-color: goldenrod;
}

#backButton:hover {
  background-color: rgb(29, 29, 29);
}